/Primer trimestre/Boletin 5/build/
/Boletin 6/nbproject/private/
/Boletin 6/build/
/Boletin 6_2/nbproject/private/
/Boletin 6_2/build/
/Boletin6_3/nbproject/private/
/EjemploCondicionales/nbproject/private/
/EjemploCondicionales/build/
/EjemploCondicionales_2/nbproject/private/
/EjemploCondicionales_2/build/
/Boletin 7_1/nbproject/private/
/Boletin 7_1/build/
/Boletin7_2/nbproject/private/
/Boletin7_2/build/
/Boletin7_3/nbproject/private/
/Boletin7_3/build/
/Boletin7_4/nbproject/private/
/Boletin7_4/build/
/Boletin7_5/nbproject/private/
/Primer trimestre/Boletin 7/Boletin7_5/build/
/Boletin8_1/nbproject/private/
/Boletin8_1/build/
/EjemploBucles/nbproject/private/
/EjemploBucles/build/
/Boletin 2_5/nbproject/private/
/Boletin 2_5/build/
/Boletin 2_4/nbproject/private/
/Boletin 2_4/build/
/sadfg/nbproject/private/